<div class="container mt-5 mb-5">
    <h1 class="text-center">About</h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam itaque ullam veritatis? Esse, ipsum nihil?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam itaque ullam veritatis? Esse, ipsum nihil?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam itaque ullam veritatis? Esse, ipsum nihil?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam itaque ullam veritatis? Esse, ipsum nihil?
        <br/>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam itaque ullam veritatis? Esse, ipsum nihil?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam itaque ullam veritatis? Esse, ipsum nihil?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam itaque ullam veritatis? Esse, ipsum nihil?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam itaque ullam veritatis? Esse, ipsum nihil?
        <br/>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam itaque ullam veritatis? Esse, ipsum nihil?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam itaque ullam veritatis? Esse, ipsum nihil?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam itaque ullam veritatis? Esse, ipsum nihil?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam itaque ullam veritatis? Esse, ipsum nihil?
        <br/>
    </p>
</div>
